:root {
    --color-fondo: #F4F6F9;
    --color-primario: #012e88;
    --color-secundario: #b96f00;
    --color-complementario: #008197;
    --color-texto: #1A1A1A;
    --fuente: 'Poppins', sans-serif;
}


body {
    background-color: var(--color-fondo);
    font-family: var(--fuente);
    color: var(--color-texto);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}