.h1 {
    background-color: var(--color-primario);
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    line-height: 30px;
}

.tabla {
    background-color: var(--color-complementario);
    color: white;
    border: 1px solid ;
}
.celda {
    border: 1px solid var(--color-complementario) ;
    padding: 8px;
    text-align: center;
}
.footer {
    background-color: var(--color-secundario);
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 30px;
    text-align: center;
}
.tx1 {
    background-color: var(--color-complementario);
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    width: 45%;
}

.tx2 {
    background-color: var(--color-complementario);
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    width: 45%;
}
